---
permalink: /blog.html
layout: default
---

{%- if site.posts.size > 0 -%}
<div class="section-title my-4">
  <h2>
    <span class="d-inline-block pb-2">
      {{ page.list_title | default: "Blogs" }}
    </span>
  </h2>
</div>

<div class="row my-4">
  {% for post in site.posts %}
  <div class="col-xs-12 col-md-6 col-lg-4 mb-2">
    <a href="{{ post.url | relative_url }}">
      <div class="card h-100">
        {%- if post.thumbnail -%}
        <img
          class="card-img-top"
          src="{{ post.thumbnail }}"
          alt="{{ post.title }}"
        />
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ post.title | escape }}</h4>
          <div class="card-text">
            {{ post.excerpt | strip_html | truncatewords:30 }}
          </div>
        </div>
        <div class="card-footer bg-white border-0 py-0 mt-auto">
          {% for author in site.data.authors.authors %}
            {% if author.name == post.author %}
              {% assign post_author = author %}
            {% endif %}
          {% endfor %}
          <div class="card border-0">
            <div class="row no-gutters">
              <div class="col-auto">
                <img
                  class="author-thumb rounded-circle img-fluid"
                  src="https://www.gravatar.com/avatar/{{ post_author.gravatar }}?s=250&d=mm&r=x"
                  alt="{{ post_author.display_name }}"
                />
              </div>
              <div class="col">
                <div class="card-block ml-2">
                  <div class="card-title mb-0">{{ post_author.display_name }}</div>
                  {% if post.date %}
                  <p>
                    <small>
                      <span class="text-muted">
                        <time datetime="{{ page.date | date:'%Y-%m-%d' }}">
                          {{ post.date | date_to_string }}
                        </time>
                      </span>
                      {% if post.last_modified_at %} (Updated:
                      <time
                        datetime="{{ page.last_modified_at | date_to_xmlschema }}"
                        itemprop="dateModified"
                      >
                        {{ post.last_modified_at | date: "%b %-d, %Y" }}</time
                      >) {% endif %}
                    </small>
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{%- endif -%}
